body {
  background: #000;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
hr{
  height: 0;
  border: none;
  border-top: 1px solid #DEDEDE;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.banner {
  background: #000 url(./img/rs-cover.jpg) center 0 no-repeat;
  opacity: 0.2;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 515px;
}
.topNavBar {
  padding: 20px 16px;
  color: white;
}
.topNavBar > nav {
  padding: 7px 0 0;
}
.topNavBar > nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topNavBar > nav > ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}
.topNavBar > nav > ul > li > a {
  font-size: 12px;
  color: #b7b7b7;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}
.topNavBar > nav > ul > li > a:hover {
  border-bottom: 3px solid #e06567;
}
.topNavBar .logo {
  font-size: 24px;
  font-family: 'Arial Black';
  padding-top: 3px;
  padding-bottom: 4px;
}
.topNavBar .logo .rs {
  margin-right: 4px;
  color: #e6686a;
}
.topNavBar .logo .card {
  color: #9a9da2;
}
.userCard {
  max-width: 940px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 50px 299px 65px auto;
  grid-template-rows: 57px auto 50px 72px;
}
.userCard .welcome {
  background: #e6686a;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
}
.userCard .welcome::after {
  content: '';
  display: block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #e6686a;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}
.userCard .avatar{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.userCard .intro {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
.userCard .intro h1{
  margin-top: 18px;
}
.userCard .intro hr{
  margin: 20px 0;
}
.userCard dl {
  display: grid;
  grid-template-columns: 30% 70%;
}
.userCard dl dt,
.userCard dl dd{
  padding: 5px 0;
}
.userCard dl dt{
  font-weight: bold;
}
.userCard dl dd{
  color: #9da0a7;
}

.userCard > footer.media{
  background: #E6686A;
  text-align: center;
  grid-column: 1 / 5;
  grid-row: 4 / 5;
}
.userCard > footer.media > a{
  display: inline-block;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  border-radius: 50%;
  margin: 16px;
}
.userCard > footer.media > a:hover{
  background: #CF5D5F;
}
.userCard svg{
  width: 30px;
  height: 30px; 
  fill: white;
  vertical-align: top;
}